
@{
    ViewData["Title"] = "Index7";
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
    <h1>Layout</h1>
    </head>
    <body>

    <h2>Burası Layout alanı</h2>
    @*! RenderBody metodu ile oluşturulan bir layout yani sabit alan kısmını göstereceğimiz sayfada kullanmamızı sağlıyor. *@
    @*! Bu method layout yani sabit kalacak kısımda kullanılıyor. *@
    @RenderBody()
    </body>
</html>




