
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
    <h1>Index</h1>
    </head>
    <body>
        <div>Projemizin ilk view i ve bu view home controller a ait.</div>
        <div style="background-color:brown">Merhaba oldu</div>
        <div>Ders 4</div>
        @* Tarihi yazdırdık *@
    <span style="background-color:red">@DateTime.Now.ToShortDateString();</span>
    @* Döngü değerleri *@
    @*  @ işareti bu sayfada normal kod yazabilmemizi sağlıyor. Mesela değişken oluşturma ve değer atama *@
    <span style="background-color:red">
    
    </span>
    </body>
</html>




