@* ?Bunu yapma sebebimiz ise ekranda göstermek için kullanacağımız veriler bu class içinde geldiği için *@
@* ?Burada model in ne olduğunuda tanımlamamız lazım çünkü biz bunu forEach ile verielri alacaz. *@
@model List<HelloNet.Models.Kitap>
@{
    ViewData["Title"] = "Index5";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
         <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

</head>
    <body>

    <h4>Kitap sayfası</h4>

    <table class="table table-bordered">
 
    @foreach(var k in Model)
    {
        @* !Burada list olarak import ettiğimiz class dan verileri forEach ile alarak tabloda gösterecez *@
        <tr>
            <td>@k.ID</td>
            <td>@k.KitapAd</td>
            <td>@k.Yazar</td>
            <br/>
        </tr>

    }
       
    </table>

    <button class="btn btn-warning">Tablo listesi</button>

        @*? bootstrap burada olduğu script ve link linkleri ekleyerek de kullanabiliyoruz. *@
        @*? başka bootstrap kullanma yolu ise wwwroot dosyasından statik dosya olarak kulllanmak *@
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        @* <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script> *@
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>




