
@{
    ViewData["Title"] = "Index6";
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
    <h1>ViewBag TAnıtımı</h1>
    </head>
    <body>

    <div>@ViewBag.Value</div>
    <div>@ViewBag.ValueNext</div>

    </body>
</html>




