
@{
    ViewData["Title"] = "Index9";
    @*? bunu sabit(Layout) sayfada kullanmak için import ediyoruz. *@
    @*?layout taki sayfa içindekiler sabit kalıyor ama diğerleri onun içind gösteriliyor. *@
    Layout = "~/Views/Home/Index7.cshtml";
}
@* !Layout sayfası sabit kalıyor ona bağlı yeni sayfalar oluşturup bu sayfa içinde gösterebiliyoruz. *@

    <div style="background-color: blue;">Sabit</div>
  Layout Alanna Bağlı Sabit yeni alan










