
@{
    ViewData["Title"] = "Index4";
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
    <h1>Index 3</h1>
    </head>
    <body>

    <h2>Burası index 4 string değer sayfası</h2>>

    </body>
</html>




